.row
  // Feature item #1
  .col-sm-6.col-md-6.col-lg-3
    .feature-item
      .feature__content
        .feature__icon
          i.icon-heart
          i.icon-heart.feature__overlay-icon
        h4.feature__title= t('index.callToAction.card1')

  // Feature item #2
  .col-sm-6.col-md-6.col-lg-3
    .feature-item
      .feature__content
        .feature__icon
          i.icon-doctor
          i.icon-doctor.feature__overlay-icon
        h4.feature__title= t('index.callToAction.card2')

  // Feature item #3
  .col-sm-6.col-md-6.col-lg-3
    .feature-item
      .feature__content
        .feature__icon
          i.icon-ambulance
          i.icon-ambulance.feature__overlay-icon
        h4.feature__title= t('index.callToAction.card3')

  // Feature item #4
  .col-sm-6.col-md-6.col-lg-3
    .feature-item
      .feature__content
        .feature__icon
          i.icon-drugs
          i.icon-drugs.feature__overlay-icon
        h4.feature__title= t('index.callToAction.card4')

  // Feature item #5
  .col-sm-6.col-md-6.col-lg-3
    .feature-item
      .feature__content
        .feature__icon
          i.icon-first-aid-kit
          i.icon-first-aid-kit.feature__overlay-icon
        h4.feature__title= t('index.callToAction.card5')

  // Feature item #6
  .col-sm-6.col-md-6.col-lg-3
    .feature-item
      .feature__content
        .feature__icon
          i.icon-hospital
          i.icon-hospital.feature__overlay-icon
        h4.feature__title= t('index.callToAction.card6')

  // Feature item #7
  .col-sm-6.col-md-6.col-lg-3
    .feature-item
      .feature__content
        .feature__icon
          i.icon-expenses
          i.icon-expenses.feature__overlay-icon
        h4.feature__title= t('index.callToAction.card7')

  // Feature item #8
  .col-sm-6.col-md-6.col-lg-3
    .feature-item
      .feature__content
        .feature__icon
          i.icon-bandage
          i.icon-bandage.feature__overlay-icon
        h4.feature__title= t('index.callToAction.card8')
