//- //- Modal
//- div#imageModal.modal(style="display: flex; flex-direction: column; justify-content: center; align-items: center; position: fixed; z-index: 9999; width: 100vw; height: 100vh; overflow: auto; background-color: rgba(0, 0, 0, 0.9);")
//-     span.close-modal(style="position: absolute; top: 20px; right: 35px; color: #f1f1f1; font-size: 40px; font-weight: bold; cursor: pointer;") &times;
//-     img.modal-content#img01(style="max-width: 80%; margin: auto; margin-top: 5rem; max-height: 80vh; object-fit: contain; width: auto; height: auto;")
//-     div#caption(style="margin: auto; display: block; max-width: 700px; text-align: center; color: #ccc; padding: 10px 0;")

//- Footer
footer.footer
    .footer-primary
        .container
            .row
                .col-sm-12.col-md-12.col-lg-3
                    .footer-widget-about
                        img(src="/images/logo/H&W koyu zemin .png" alt="logo" class="mb-30")
                        p.color-gray=t("footer.description")
                        a(href="appointment.html" class="btn btn__primary btn__primary-style2 btn__link")
                            span= t("footer.button")
                            i.icon-arrow-right
                .col-sm-6.col-md-6.col-lg-2.offset-lg-1
                    .footer-widget-nav
                        h6.footer-widget__title=t("footer.services.title")
                        nav
                            ul.list-unstyled
                                each treatment in treatments ? treatments : []
                                    li
                                        a(href=`/treatments/${treatment.name.split(' ').join('-')}`)= treatment.name
                .col-sm-6.col-md-6.col-lg-2
                    .footer-widget-nav
                        h6.footer-widget__title=t("footer.quick-links.title")
                        nav
                            ul.list-unstyled
                                li
                                    a(href="about-us.html")=t("footer.quick-links.item1") 
                                li
                                    a(href="services.html")=t("footer.quick-links.item2")
                                li
                                    a(href="blog.html")=t("footer.quick-links.item3")
                                li
                                    a(href="faqs.html")=t("footer.quick-links.item4")
                                li
                                    a(href="appointment.html")=t("footer.quick-links.item5")
                .col-sm-12.col-md-6.col-lg-4
                    .footer-widget-contact
                        h6.footer-widget__title.color-heading=t("footer.contact.title")
                        ul.contact-list.list-unstyled
                            li=t("footer.contact.description")
                            li
                                a(href="tel:01061245741" class="phone__number")
                                    i.icon-phone
                                    span +90 531 983 1396
                            li.color-body=t("footer.contact.address")
                        .d-flex.align-items-center
                            ul.social-icons.list-unstyled.mb-0
                                li
                                    a(href="https://www.facebook.com/healthnwonders")
                                        i.fab.fa-facebook-f
                                li
                                    a(href="https://www.instagram.com/healthandwonders/" rel="noopener noreferrer" target="_blank")
                                        i.fab.fa-instagram
                                li
                                    a(href="https://www.tiktok.com/@healthandwonders" rel="noopener noreferrer" target="_blank")
                                        i.fab.fa-tiktok
                                li
                                    a(href="https://www.linkedin.com/company/health-wonders/" rel="noopener noreferrer" target="_blank")
                                        i.fab.fa-linkedin
                                li
                                    a(href="https://twitter.com/healthnwonders" rel="noopener noreferrer" target="_blank")
                                        i.fab.fa-twitter
                                li
                                    a(href="https://www.youtube.com/@HealthandWonders" rel="noopener noreferrer" target="_blank")
                                        i.fab.fa-youtube
    .footer-secondary
        .container
            .row.align-items-center
                .col-sm-12.col-md-6.col-lg-6
                    span.fz-14= "© 2024 Medusa Global " + t("footer.copyright.title")

//- Search Popup
div.search-popup
    button(type="button" class="search-popup__close")
        i.fas.fa-times
    form.search-popup__form
        input(type="text" class="search-popup__form__input" placeholder="Type Words Then Enter")
        button.search-popup__btn
            i.icon-search

//- Scroll Top Button
button#scrollTopBtn
    i.fas.fa-long-arrow-alt-up
