header.header.header-layout2
    .header-topbar
        .container-fluid
            .row.align-items-center
                .col-12
                    .d-flex.align-items-center.justify-content-between
                        ul.contact__list.d-flex.flex-wrap.align-items-center.list-unstyled.mb-0
                            li
                                i.icon-phone
                                a(href='tel:+905319831396')=t("topbar.emergency") + " +90 531 983 1396"
                            li
                                i.icon-location
                                span(style='color: white')=t("topbar.location")
                            li
                                i.icon-clock
                                span(style='color: white')=t("topbar.workinghours")
                        .d-flex
                            ul.social-icons.list-unstyled.mb-0.mr-30
                                li
                                    a(href='https://www.facebook.com/healthnwonders' rel='noopener noreferrer' target='_blank')
                                        i.fab.fa-facebook-f
                                li
                                    a(href='https://www.instagram.com/healthandwonders/' rel='noopener noreferrer' target='_blank')
                                        i.fab.fa-instagram
                                li
                                    a(href='https://www.tiktok.com/@healthandwonders' rel='noopener noreferrer' target='_blank')
                                        i.fab.fa-tiktok
                                li
                                    a(href='https://www.linkedin.com/company/health-wonders/' rel='noopener noreferrer' target='_blank')
                                        i.fab.fa-linkedin
                                li
                                    a(href='https://twitter.com/healthnwonders' rel='noopener noreferrer' target='_blank')
                                        i.fab.fa-twitter
                                li
                                    a(href='https://www.youtube.com/@HealthandWonders' rel='noopener noreferrer' target='_blank')
                                        i.fab.fa-youtube



    nav.navbar.navbar-expand-lg.sticky-navbar
        .container-fluid
            a.navbar-brand(href='/')
                img(src='/images/logo/H&W ikincil.png' alt='logo-brand' style='height: auto; width: 150px')
            button.navbar-toggler(type='button')
                span.menu-lines
                    span 
            .collapse.navbar-collapse#mainNavigation
                ul.navbar-nav.ml-auto
                    li.nav__item
                        a(href='/' class='nav__item-link')=t("navbar.home")
                    li.nav__item.has-dropdown
                        a(data-toggle='dropdown' class='dropdown-toggle nav__item-link')=t("navbar.about_us.title")
                        ul.dropdown-menu
                            li.nav__item
                                if currentLanguage == 'en'
                                    a(href='/about-us' class='nav__item-link')=t("navbar.about_us.sub-menu.who-are-we")
                                if currentLanguage == 'tr'
                                    a(href='/hakkimizda' class='nav__item-link')=t("navbar.about_us.sub-menu.who-are-we")
                                if currentLanguage == 'de'
                                    a(href='/uber-uns' class='nav__item-link')=t("navbar.about_us.sub-menu.who-are-we") 
                                if currentLanguage == 'fr'
                                    a(href='/a-propos-de-nous' class='nav__item-link')=t("navbar.about_us.sub-menu.who-are-we")
                            li.nav__item
                                if currentLanguage == 'en'
                                    a(href='/our-services' class='nav__item-link')=t("navbar.about_us.sub-menu.services")
                                if currentLanguage == 'tr'
                                    a(href='/hizmetlerimiz' class='nav__item-link')=t("navbar.about_us.sub-menu.services")
                                if currentLanguage == 'de'
                                    a(href='/dienstleistungen' class='nav__item-link')=t("navbar.about_us.sub-menu.services")
                                if currentLanguage == 'fr'
                                    a(href='/services' class='nav__item-link')=t("navbar.about_us.sub-menu.services")
                            li.nav__item
                                if currentLanguage == 'en'
                                    a(href='/faq' class='nav__item-link')=t("navbar.about_us.sub-menu.faq")
                                if currentLanguage == 'tr'
                                    a(href='/sik-sorulan-sorular' class='nav__item-link')=t("navbar.about_us.sub-menu.faq")
                                if currentLanguage == 'de'
                                    a(href='/oft-gestellte-fragen' class='nav__item-link')=t("navbar.about_us.sub-menu.faq")
                                if currentLanguage == 'fr'
                                    a(href='/questions-frequemment-posees' class='nav__item-link')=t("navbar.about_us.sub-menu.faq")
                    li.nav__item.has-dropdown
                        a(data-toggle='dropdown' class='dropdown-toggle nav__item-link')=t("navbar.doctors")
                        ul.dropdown-menu
                            each doctor in doctors ? doctors : []
                                li.nav__item
                                    //- .split(' ').join('-')
                                    a(href=`/doctors/${doctor.name.split(' ').join('-')}` class='nav__item-link')= doctor.name
                    li.nav__item
                        a(href='/blog' class='nav__item-link')=t("navbar.blog")
                    li.nav__item.has-dropdown
                        a(data-toggle='dropdown' class='dropdown-toggle nav__item-link')=t("navbar.treatments")
                        ul.dropdown-menu
                            each treatment in treatments ? treatments : []
                                li.nav__item
                                    a(href=`/treatments/${treatment.slugs[currentLanguage]}` class='nav__item-link')= treatment.name[currentLanguage]
                    li.nav__item.has-dropdown
                        - var languages = {en: 'English', tr: 'Türkçe', de: 'Deustch', fr: 'Français'}
                        - var flags = {en: '/images/flags/en.png', tr: '/images/flags/tr.png', de: '/images/flags/gr.png', fr: '/images/flags/fr.png'}
                        a.nav__item-link.dropdown-toggle(href='#' role='button' id='dropdownLanguage' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                            img(src=flags[currentLanguage] alt='flag' style='height: 20px; width: 25px; margin-right: 10px;')
                        ul.dropdown-menu(aria-labelledby='dropdownLanguage')
                            each val, key in languages
                                if key != currentLanguage
                                    li
                                        a.dropdown-item(href='/?lng=' + key, style='max-width:fit-content;')
                                            img(src=flags[key] alt='flag' style='height: 20px; width: 25px; margin-right: 5px;')
                                            span= val
            .d-none.d-xl-flex.align-items-center.position-relative.ml-0
                if currentLanguage == 'en'    
                    a(href='/contact-us' class='btn btn__primary btn__rounded ml-30')
                        i.icon-calendar
                        span=t("navbar.appointment")
                if currentLanguage == 'tr'    
                    a(href='/bize-ulasin' class='btn btn__primary btn__rounded ml-30')
                        i.icon-calendar
                        span=t("navbar.appointment")
                if currentLanguage == 'de'    
                    a(href='/kontaktiere-uns' class='btn btn__primary btn__rounded ml-30')
                        i.icon-calendar
                        span=t("navbar.appointment")
                if currentLanguage == 'fr'    
                    a(href='/contactez-nous' class='btn btn__primary btn__rounded ml-30')
                        i.icon-calendar
                        span=t("navbar.appointment")
