.col-md-12(style='margin-top: 20px;')
    h3 Yeni Bir Doktor Ekleyin
    form(method="POST" action="/api/doctors" enctype="multipart/form-data")
        .form-row
            .form-group.col-md-3
                label(for="name") İsim:
                input#name.form-control.form-control-sm(type="text" name="name", required=true style='border-radius:5px;!important')
            .form-group.col-md-3
                label(for="specialty") Ana Uzmanlık:
                input#specialty.form-control.form-control-sm(type="text" name="specialty", required=true style='border-radius:5px;!important padding: 1px 1px;!important')
            .form-group.col-md-3
                label(for="location") Konum:
                input#location.form-control.form-control-sm(type="text" name="location", required=true style='border-radius:5px;!important padding: 1px 1px;!important')
            .form-group.col-md-3
                label(for="picture") Resim:
                input#picture.form-control(type="file", name="profilePic", style='border-radius:5px;!important padding: 1px 1px;!important', required=false)

        .form-group.mb-2
            label(for="bio") Biyografi:
            textarea#bio.form-control(name="bio", required=true style='border-radius:5px;!important padding: 1px 1px;!important')
        //- Dynamic Experience Section
        #experienceSection
            .d-flex.justify-content-between.align-items-center.mt-20
                h4 Deneyim Bilgileri
                button.btn.btn-primary.col-md-1(type="button" id="addExperienceBtn") Yeni Deneyim Ekle
            #exprience-pane.experience-pane.d-flex.flex-column.mb-2.experience-column
                .form-row.mb-2.d-inline-flex.align-items-center
                    .form-group.col-md-2
                        label(for="experienceStart") Başlangıç Yılı:
                        input.form-control(type="number" name="experiences[0][startDate]" required=true style='border-radius:5px;!important') 
                    .form-group.col-md-2
                        label(for="experienceEnd") Bitiş Yılı:
                        input.form-control(type="number" name="experiences[0][endDate]" required=true style='border-radius:5px;!important') 
                    .form-group.col-md-8
                        label(for="experienceTitle") Deneyim Başlığı:
                        input.form-control(type="text" name="experiences[0][title]" required=true style='border-radius:5px;!important')

        //- Dynamic Education Section
        #educationSection
            .d-flex.justify-content-between.align-items-center
                h4 Eğitim Bilgileri
                button.btn.btn-primary.col-md-1(type="button" id="addEducationBtn") Yeni Eğitim Ekle
            .education-pane.d-flex.flex-column.mb-2.education-column
                .form-row.mb-2.d-inline-flex.align-items-center
                    .form-group.col-md-12
                        label(for="educationTitle") Eğitim Başlığı:
                        input.form-control(type="text" name="education[0][title]" required=true style='border-radius:5px;!important')
        //- Dynamic Interest Section
        #interestSection.mb-2
            .d-flex.justify-content-between.align-items-center
                h4 Uzmanlık Bilgileri
                button.btn.btn-primary.col-md-1(type="button" id="addInterestBtn") Yeni Uzmanlık Ekle
            .interest-pane.d-flex.flex-column.mb-2.interest-column
                .form-row.mb-2.d-inline-flex.align-items-center
                    .form-group.col-md-12
                        label(for="interestsTitle") Uzmanlık Başlığı:
                        input.form-control(type="text" name="interests[0][title]" required=true style='border-radius:5px;!important')
        button.mb-20.col-12(type="submit" style="background-color: blue; padding: 15px 0; border-radius:5px; color: white; ") Yeni Doktor Ekle
