extends ../layout

block content
  .container-fluid(style='display: flex; height: 100vh;')
    .row.flex-grow-1
      //- Sidebar with full viewport height and sticky behavior
      .col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse(style='min-height: 100vh; overflow-y: auto;')
        ul.nav.flex-column(style='font-size: 20px; margin-top: 20px;')
          li.nav-item
            a.nav-link(href="/dashboard") Panel
          li.nav-item
            a.nav-link.active(href="#") Mesajlar
          li.nav-item
            a.nav-link(href="/dashboard/treatments") Tedaviler
          li.nav-item
            a.nav-link(href="/dashboard/doctors") Doktorlar
          li.nav-item
            a.nav-link(href="#") Hastaneler
      //- Main content with scrollable behavior
      .col-md-9.ml-sm-auto.col-lg-10.px-md-4#mainContent(style='overflow-y: auto;')
        
        #newDoctorForm(style='display: none;')
          include ../partials/new_doctor.pug
        div.container-fluid
          .row
            .col-md-12
              .d-flex.justify-content-between.align-items-center.mt-4.mb-4
                h1 Doktorlar
                button#toggleFormButton.btn.btn-info Yeni Doktor Ekle
              table#doctorsTable.table.table-striped.table-bordered.table-hover
                thead
                  tr
                    th İsim
                    th Ana Uzmanlık
                    th Konum
                    th İşlemler
                tbody
                  each doctor in doctors
                    tr
                      td= doctor.name
                      td= doctor.specialty
                      td= doctor.location
                      td
                        a.btn.btn-primary(href=`/dashboard/doctors/${doctor._id}`) Düzenle
                        a.btn.btn-danger.delete-btn(href=`/dashboard/doctors/delete/${doctor._id}/delete` data-id=`${doctor._id}`) Sil

block append scripts
  script(src="/javascripts/dashboard/DoctorsDashboard.js")
