extends layout

block content
    //- Page Title
    section.page-title.page-title-layout1.bg-overlay
        .bg-img
            img(src="/images/page-titles/1.jpg" alt="background")
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12.col-xl-5
                    h1.pagetitle__heading= t("aboutUs.banner.title")
                    p.pagetitle__desc=t("aboutUs.banner.description")
                        .d-flex.flex-wrap.align-items-center
                            if currentLanguage === 'tr'
                                a.btn.btn__primary.btn__rounded.mr-30(href="/bize-ulasin")
                                    span= t("aboutUs.banner.button1")
                                        i.icon-arrow-right
                            if currentLanguage === 'en'
                                a.btn.btn__primary.btn__rounded.mr-30(href="/contact-us")
                                    span= t("aboutUs.banner.button1")
                                        i.icon-arrow-right
                            if currentLanguage === 'fr'
                                a.btn.btn__primary.btn__rounded.mr-30(href="/contactez-nous")
                                    span= t("aboutUs.banner.button1")
                                        i.icon-arrow-right
                            if currentLanguage === 'de'
                                a.btn.btn__primary.btn__rounded.mr-30(href="/kontaktiere-uns")
                                    span= t("aboutUs.banner.button1")
                                        i.icon-arrow-right
                            if currentLanguage === 'tr'
                                a.btn.btn__white.btn__rounded(href="/hizmetlerimiz")
                                    span=t("aboutUs.banner.button2")
                                        i.icon-arrow-right
                            if currentLanguage === 'en'
                                a.btn.btn__white.btn__rounded(href="/our-services")
                                    span=t("aboutUs.banner.button2")
                                        i.icon-arrow-right
                            if currentLanguage === 'fr'
                                a.btn.btn__white.btn__rounded(href="/services")
                                    span=t("aboutUs.banner.button2")
                                        i.icon-arrow-right
                            if currentLanguage === 'de'
                                a.btn.btn__white.btn__rounded(href="/dienstleistungen")
                                    span=t("aboutUs.banner.button2")
                                        i.icon-arrow-right
    // About Layout 1
    section.about-layout1.pb-0
        .container
            .row
                .col-sm-12.col-md-12.col-lg-6
                    .heading-layout2
                        h3.heading__title.mb-40=t("aboutUs.section1.title")
            .row
                .col-sm-12.col-md-12.col-lg-6
                    .about__Text
                        p.mb-30= t("aboutUs.section1.description")
                .col-sm-12.col-md-12.col-lg-6
                    .video-banner
                        img(src="/images/about/youtube_thumbnail_health.png" alt="about")
                        a.video__btn.video__btn-white.popup-video(href="https://www.youtube-nocookie.com/embed/e1WWDCJ0taw?si=UfzM2tsRvD6xmXAx")
                            .video__player
                                i.fa.fa-play
    section.features-layout1.pt-130.pb-50.mt--90
        .bg-img
            img(src="/images/backgrounds/1.jpg" alt="background")
        .container
            .row.mb-40
                .col-sm-12.col-md-12.col-lg-5
                    .heading__layout2
                        h3.heading__title=t("aboutUs.section2.title")
                .col-sm-12.col-md-12.col-lg-5.offset-lg-1
                    p.heading__desc.font-weight-bold=t("aboutUs.section2.description")
                    .d-flex.flex-wrap.align-items-center.mt-40.mb-30
                        if currentLanguage == 'en'
                            a(href="/contact-us" class="btn btn__primary btn__rounded mr-30")
                                span= t('index.callToAction.button')
                                i.icon-arrow-right
                        if currentLanguage == 'fr'
                            a(href="/contactez-nous" class="btn btn__primary btn__rounded mr-30")
                                span= t('index.callToAction.button')
                                i.icon-arrow-right
                        if currentLanguage == 'tr'
                            a(href="/bize-ulasin" class="btn btn__primary btn__rounded mr-30")
                                span= t('index.callToAction.button')
                                i.icon-arrow-right
                        if currentLanguage == 'de'
                            a(href="/kontaktiere-uns" class="btn btn__primary btn__rounded mr-30")
                                span= t('index.callToAction.button')
                                i.icon-arrow-right
                //- features layout        
                include ./partials/featured.pug
    // Work Process
    section.work-process.work-process-carousel.pt-130.pb-0.bg-overlay.bg-overlay-secondary
        .bg-img
            img(src="/images/banners/1.jpg", alt="background")
        .container
            .row.heading-layout2
                .col-12
                    h2.heading__subtitle.color-primary=t("aboutUs.section3.pre-title")
                .col-sm-12.col-md-12.col-lg-6.col-xl-5
                    h3.heading__title.color-white=t("aboutUs.section3.title")
                .col-sm-12.col-md-12.col-lg-6.col-xl-6.offset-xl-1
                    p.heading__desc.font-weight-bold.color-gray.mb-40=t("aboutUs.section3.description")
                    ul.list-items.list-items-layout2.list-items-light.list-horizontal.list-unstyled
                        li=t("aboutUs.section3.grid.item1")
                        li=t("aboutUs.section3.grid.item2")
                        li=t("aboutUs.section3.grid.item3")
                        li=t("aboutUs.section3.grid.item4")
                        li=t("aboutUs.section3.grid.item5")
            .row
                .col-12
                    .carousel-container.mt-90
                        .slick-carousel(data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "infinite":false, "arrows": false, "dots": false, "responsive": [{"breakpoint": 1200, "settings": {"slidesToShow": 3}}, {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 2}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}')
                            // Process item #1
                            div.process-item
                                span.process__number 01
                                .process__icon
                                    i.icon-health-report
                                h4.process__title= t("aboutUs.section3.card-slider.item1.title")
                                p.process__desc= t("aboutUs.section3.card-slider.item1.description")
                            // Process item #2
                            div.process-item
                                span.process__number 02
                                .process__icon
                                    i.icon-dna
                                h4.process__title= t("aboutUs.section3.card-slider.item2.title")
                                p.process__desc= t("aboutUs.section3.card-slider.item2.description")
                            // Process item #3
                            div.process-item
                                span.process__number 03
                                .process__icon
                                    i.icon-medicine
                                h4.process__title= t("aboutUs.section3.card-slider.item3.title")
                                p.process__desc= t("aboutUs.section3.card-slider.item3.description")
                            // Process item #4
                            div.process-item
                                span.process__number 04
                                .process__icon
                                    i.icon-stethoscope
                                h4.process__title= t("aboutUs.section3.card-slider.item4.title")    
                                p.process__desc= t("aboutUs.section3.card-slider.item4.description")
        .cta.bg-primary
            .container
                .row.align-items-center
                    .col-sm-12.col-md-2.col-lg-2
                        img.cta__img(src="/images/icons/alert.png", alt="alert")
                    .col-sm-12.col-md-7.col-lg-7
                        h4.cta__title= t("aboutUs.section4.title")
                        p.cta__desc= t("aboutUs.section4.description")
                    .col-sm-12.col-md-3.col-lg-3
                        if currentLanguage === 'tr'
                            a.btn.btn__secondary.btn__secondary-style2.btn__rounded.mr-30(href="/bize-ulasin")
                                span= t("aboutUs.section4.button")
                                i.icon-arrow-right
                        if currentLanguage === 'en'
                            a.btn.btn__secondary.btn__secondary-style2.btn__rounded.mr-30(href="/contact-us")
                                span= t("aboutUs.section4.button")
                                i.icon-arrow-right
                        if currentLanguage === 'fr'
                            a.btn.btn__secondary.btn__secondary-style2.btn__rounded.mr-30(href="/contactez-nous")
                                span= t("aboutUs.section4.button")
                                i.icon-arrow-right
                        if currentLanguage === 'de'
                            a.btn.btn__secondary.btn__secondary-style2.btn__rounded.mr-30(href="/kontaktiere-uns")
                                span= t("aboutUs.section4.button")
                                i.icon-arrow-right
    include ./partials/certificates.pug
    //- include ./partials/testimonials.pug
    include ./partials/blog_grid.pug
    include ./partials/map.pug
