extends layout

block content
    //- Page Title
    section.page-title.page-title-layout5.bg-overlay
        .bg-img
            img(src="/images/page-titles/8.jpg" alt="background")
        .container
            .row
                .col-12
                    h1.pagetitle__heading Blog
                    nav
                        ol.breadcrumb.mb-0
                            li.breadcrumb-item
                                a(href="/")=t("navbar.home")
                            li.breadcrumb-item.active(aria-current="page")=t("navbar.blog")

    //- Blog Grid
    section.blog-grid.pb-50
        .container
            .row
                .col-sm-12.col-md-12.col-lg-6.offset-lg-3
                    .heading.text-center.mb-40
                        h2.heading__subtitle=t("index.blogLatest.title")
                        h3.heading__title=t("index.blogLatest.description")
            .row
                //- Post Items
                each blog in blogs
                    .col-sm-12.col-md-6.col-lg-4
                        .post-item
                            .post__img
                                a(href=`/blog/${blog.slugs[currentLanguage]}`)
                                    img(src=`/${blog.image}` alt="post image" loading="lazy")
                            .post__body
                                .post__meta-cat(style="opacity: 0")
                                    a(href="#") Tüp Mide Ameliyatı    
                                .post__meta.d-flex
                                    - const createdAtDate = new Date(blog.createdAt)
                                    span.post__meta-date= `${createdAtDate.getDate()}.${createdAtDate.getMonth() + 1}.${createdAtDate.getFullYear()}`
                                h4.post__title
                                    a(href=`/blog/${blog.slugs[currentLanguage]}`)= blog.name[currentLanguage]
                                .post__desc= blog.thumbnailDescription[currentLanguage]
                                a(href=`/blog/${blog.slugs[currentLanguage]}`, class="btn btn__secondary btn__link btn__rounded")
                                    span=t("index.services.button2")
                                    i.icon-arrow-right
                //- else    
                //-     .col-sm-12.col-md-12.col-lg-12.d-flex.justify-content-center
                //-         h4= t('index.blogLatest.noBlog')

