extends layout

block head
  link(fetchpriority="high" rel="preload" as="image" href="/images/page-titles/landingslider_healthandwonder2.webp" type="image/webp")
block content
  //- Slider
  section.slider
    .slick-carousel.m-slides-0(data-slick='{"slidesToShow": 1, "arrows": true, "dots": false, "speed": 700,"fade": true,"cssEase": "linear"}')
      .slide-item.align-v-h
        .bg-img
          img(src="/images/page-titles/landingslider_healthandwonder2.webp" alt="slide img" eager)
        .container
          .row.align-items-center
            .col-sm-12.col-md-12.col-lg-12.col-xl-7
              .slide__content
                h1.slide__title=t('index.banner.title')
                p.slide__desc=t('index.banner.description')
                .d-flex.flex-wrap.align-items-center
                  if currentLanguage == 'en'
                    a(href="/contact-us" class="btn btn__primary btn__rounded mr-30")
                      span= t('index.banner.button1')
                      i.icon-arrow-right
                  if currentLanguage == 'fr'
                    a(href="/contactez-nous" class="btn btn__primary btn__rounded mr-30")
                      span= t('index.banner.button1')
                      i.icon-arrow-right
                  if currentLanguage == 'de'
                    a(href="/kontaktiere-uns" class="btn btn__primary btn__rounded mr-30")
                      span= t('index.banner.button1')
                      i.icon-arrow-right
                  if currentLanguage == 'tr'
                    a(href="/bize-ulasin" class="btn btn__primary btn__rounded mr-30")
                      span= t('index.banner.button1')
                      i.icon-arrow-right
                  if currentLanguage == 'en'  
                    a(href="/our-services" class="btn btn__white btn__rounded")
                      span= t('index.banner.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'tr'  
                    a(href="/hizmetlerimiz" class="btn btn__white btn__rounded")
                      span= t('index.banner.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'fr'  
                    a(href="/services" class="btn btn__white btn__rounded")
                      span= t('index.banner.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'de'  
                    a(href="/dienstleistungen" class="btn btn__white btn__rounded")
                      span= t('index.banner.button2')
                      i.icon-arrow-right
  //- About Layout 1
  section.about-layout1.pb-0
    .container
      .row
        .col-sm-12.col-md-12.col-lg-6
          .heading-layout2
            h3.heading__title.mb-40= t('index.section1.title') 
      .row
        .col-sm-12.col-md-12.col-lg-6
          .about__Text
            p.mb-30= t('index.section1.sub-title')
            p.mb-30= t('index.section1.description')
            .d-flex.align-items-center.mb-30
              if currentLanguage == 'en'
                a(href="/about-us" class="btn btn__primary btn__outlined btn__rounded mr-30")= t('index.section1.button')
              if currentLanguage == 'tr'
                a(href="/hakkimizda" class="btn btn__primary btn__outlined btn__rounded mr-30")= t('index.section1.button')
              if currentLanguage == 'de'
                a(href="/uber-uns" class="btn btn__primary btn__outlined btn__rounded mr-30")= t('index.section1.button')
              if currentLanguage == 'fr'
                a(href="/a-propos-de-nous" class="btn btn__primary btn__outlined btn__rounded mr-30")= t('index.section1.button')
              img(src="/images/logo/H&W Yatay.png" alt="sub-logo" style="max-width: 130px")
        .col-sm-12.col-md-12.col-lg-6
          .video-banner
            img(src="/images/about/youtube_thumbnail_health2.webp" alt="about")
            a.video__btn.video__btn-white.popup-video(href="https://www.youtube-nocookie.com/embed/e1WWDCJ0taw?si=UfzM2tsRvD6xmXAx")
              .video__player
                i.fa.fa-play
  //- Features Layout 1
  section.features-layout1.pt-130.pb-50.mt--90
    .bg-img
      img(src="/images/backgrounds/1.webp" alt="background")
    .container
      .row.mb-40
        .col-sm-12.col-md-12.col-lg-5
          .heading__layout2
            h3.heading__title= t('index.callToAction.title')
        .col-sm-12.col-md-12.col-lg-5.offset-lg-1
          p.heading__desc.font-weight-bold=t('index.callToAction.description') 
          .d-flex.flex-wrap.align-items-center.mt-40.mb-30
            if currentLanguage == 'en'
              a(href="/contact-us" class="btn btn__primary btn__rounded mr-30")
                span= t('index.callToAction.button')
                i.icon-arrow-right
            if currentLanguage == 'fr'
              a(href="/contactez-nous" class="btn btn__primary btn__rounded mr-30")
                span= t('index.callToAction.button')
                i.icon-arrow-right
            if currentLanguage == 'tr'
              a(href="/bize-ulasin" class="btn btn__primary btn__rounded mr-30")
                span= t('index.callToAction.button')
                i.icon-arrow-right
            if currentLanguage == 'de'
              a(href="/kontaktiere-uns" class="btn btn__primary btn__rounded mr-30")
                span= t('index.callToAction.button')
                i.icon-arrow-right
      //- features layout        
      include ./partials/featured.pug
  section.services-layout2.services-carousel.bg-overlay.bg-overlay-primary.pt-130
    .bg-img
      img(src="/images/banners/1.jpg" alt="background")
    .container
      .row
        .col-sm-12.col-md-12.col-lg-6
          .heading-layout1.heading-light.mb-60
            h3.heading__title= t('index.services.title')
            p.heading__desc= t('index.services.description')              
      .row
        .col-12
          .carousel-container
            .slick-carousel.carousel-arrows-light.carousel-dots-light(data-slick='{"slidesToShow": 4, "slidesToScroll": 2, "autoplay": true, "arrows": false, "dots": false, "responsive": [ {"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}')
              // service item #1
              .service-item
                .service__img
                  img(src="/images/services/1.jpg" alt="img" loading="lazy")
                .service__content
                  h4.service__title=t('index.services.service_1.title')
                  p.service__desc=t('index.services.service_1.description')
                  br
                  br
                  if currentLanguage == 'en'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/our-services")
                      span=t('index.services.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'tr'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/hizmetlerimiz")
                      span=t('index.services.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'fr'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/services")
                      span=t('index.services.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'de'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/dienstleistungen")
                      span=t('index.services.button2')
                      i.icon-arrow-right
              // service item #2
              .service-item
                .service__img
                  img(src="/images/services/2.jpg" alt="img" loading="lazy")
                .service__content
                  h4.service__title=t('index.services.service_2.title')
                  p.service__desc=t('index.services.service_2.description')
                  br
                  br
                  br
                  if currentLanguage == 'en'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/our-services")
                      span=t('index.services.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'tr'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/hizmetlerimiz")
                      span=t('index.services.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'fr'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/services")
                      span=t('index.services.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'de'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/dienstleistungen")
                      span=t('index.services.button2')
                      i.icon-arrow-right
              // service item #3
              .service-item
                .service__img
                  img(src="/images/services/3.jpg" alt="img" loading="lazy")
                .service__content
                  h4.service__title=t('index.services.service_3.title')
                  p.service__desc=t('index.services.service_3.description')
                  br
                  br
                  if currentLanguage == 'en'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/our-services")
                      span=t('index.services.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'tr'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/hizmetlerimiz")
                      span=t('index.services.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'fr'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/services")
                      span=t('index.services.button2')
                      i.icon-arrow-right
                  if currentLanguage == 'de'
                    a.btn.btn__secondary.btn__outlined.btn__rounded(href="/dienstleistungen")
                      span=t('index.services.button2')
                      i.icon-arrow-right
      .row
        .col-12.d-flex.justify-content-end.mt--40
          if currentLanguage == 'en'
            a.btn.btn__white.btn__link(href="/our-services")
              span=t('index.services.button')
                i.icon-arrow-right
              i.icon-arrow-right
          if currentLanguage == 'tr'
            a.btn.btn__white.btn__link(href="/hizmetlerimiz")
              span=t('index.services.button')
                i.icon-arrow-right
              i.icon-arrow-right
          if currentLanguage == 'fr'
            a.btn.btn__white.btn__link(href="/services")
              span=t('index.services.button')
                i.icon-arrow-right
              i.icon-arrow-right
          if currentLanguage == 'de'
            a.btn.btn__white.btn__link(href="/dienstleistungen")
              span=t('index.services.button')
                i.icon-arrow-right
              i.icon-arrow-right

  include ./partials/certificates.pug
  //- Testimonials Layout 1
  //- include ./partials/testimonials.pug
  include ./partials/blog_grid.pug
  //- Contact Layout 5
  .contact-layout5.bg-overlay.bg-overlay-blue-gradient.pb-60.pt-130
    .bg-img
      img(src="/images/banners/3.jpg" alt="banner")
    .container
      .row
        .col-sm-12.col-md-12.col-lg-5.d-flex.flex-column.justify-content-start
          div
            .heading.heading-light.mb-30
              h3.heading__title.mb-30=t('index.appointmentForm.title')
              p.heading__desc=t('index.appointmentForm.description')
            .d-flex.align-items-center.mb-30
              if currentLanguage == 'en'
                a.btn.btn__white.btn__white-style2.btn__rounded.mr-30(href="/our-services")
                  span=t('index.appointmentForm.button_service')
                    i.icon-arrow-right
              if currentLanguage == 'tr'
                a.btn.btn__white.btn__white-style2.btn__rounded.mr-30(href="/hizmetlerimiz")
                  span=t('index.appointmentForm.button_service')
                    i.icon-arrow-right
              if currentLanguage == 'fr'
                a.btn.btn__white.btn__white-style2.btn__rounded.mr-30(href="/services")
                  span=t('index.appointmentForm.button_service')
                    i.icon-arrow-right
              if currentLanguage == 'de'
                a.btn.btn__white.btn__white-style2.btn__rounded.mr-30(href="/dienstleistungen")
                  span=t('index.appointmentForm.button_service')
                    i.icon-arrow-right
              if currentLanguage == 'en'      
                a.btn.btn__white.btn__outlined.btn__rounded(href="/contact-us")= t('index.appointmentForm.button_contact')
              if currentLanguage == 'tr'      
                a.btn.btn__white.btn__outlined.btn__rounded(href="/bize-ulasin")= t('index.appointmentForm.button_contact')
              if currentLanguage == 'de'      
                a.btn.btn__white.btn__outlined.btn__rounded(href="/kontaktiere-uns")= t('index.appointmentForm.button_contact')
              if currentLanguage == 'fr'      
                a.btn.btn__white.btn__outlined.btn__rounded(href="/contactez-nous")= t('index.appointmentForm.button_contact')
          ul.list-items.list-items-layout2.list-items-light.list-horizontal.list-unstyled.mb-50
            li=t("index.appointmentForm.grid_item1")
            li=t("index.appointmentForm.grid_item2")
            li=t("index.appointmentForm.grid_item3")
            li=t("index.appointmentForm.grid_item4")
            li=t("index.appointmentForm.grid_item5")
        .col-sm-12.col-md-12.col-lg-7
          .contact-panel.mb-50
            form.contact-panel__form(method="post" action="/api/send-email" id="contactFormIndex")
              .row
                .col-sm-12
                  h4.contact-panel__title= t('index.appointmentForm.form-title')
                  p.contact-panel__desc.mb-30= t('index.appointmentForm.form-subtitle')
                .col-sm-6.col-md-6.col-lg-6
                  .form-group
                    i.icon-widget.form-group-icon
                    select.form-control(name="contact-treatment" id="contact-treatment" required)
                      option(value="0")= t('index.appointmentForm.form-treatment')
                      each treatment in treatments ? treatments : []
                        option(value=`${treatment.name[currentLanguage]}`)= treatment.name[currentLanguage]
                .col-sm-6.col-md-6.col-lg-6
                  .form-group
                    i.icon-user.form-group-icon
                    select.form-control(name="contact-doctor" id="contact-doctor" required)
                      option(value="0")= t('index.appointmentForm.form-doctor')
                      each doctor in doctors ? doctors : []
                        option(value=`${doctor.name}`)= doctor.name
                .col-sm-6.col-md-6.col-lg-6
                  .form-group
                    i.icon-news.form-group-icon
                    input.form-control(type="text", placeholder=t('index.appointmentForm.form-name'), id="contact-name" name="contact-name", required)
                .col-sm-6.col-md-6.col-lg-6
                  .form-group
                    i.icon-email.form-group-icon
                    input.form-control(type="email", placeholder=t('index.appointmentForm.form-email'), id="contact-email" name="contact-email", required)
                .col-sm-4.col-md-4.col-lg-4
                  .form-group
                    i.icon-phone.form-group-icon
                    input.form-control(type="text", placeholder=t('index.appointmentForm.form-phone'), id="contact-phone" name="contact-phone", min=10, required)
                .col-sm-4.col-md-4.col-lg-4
                  .form-group.form-group-date
                    i.icon-calendar.form-group-icon
                    input.form-control(type="date" id="contact-date" name="contact-date" placeholder="Tedavi Tarihi", required)
                .col-sm-4.col-md-4.col-lg-4
                  .form-group
                    select.form-control(id="contact-gender" name="contact-gender" aria-placeholder="Cinsiyet", required)
                      option(value="")=t('index.appointmentForm.form-gender')
                      option(value="erkek")=t('index.appointmentForm.form-gender1')
                      option(value="kadin")=t('index.appointmentForm.form-gender2')
                      option(value="belirtmek_istemiyor")=t('index.appointmentForm.form-gender3')
                .col-12
                  .form-group
                    i.icon-note.form-group-icon
                    textarea.form-control(id="contact-special-requests" name="contact-special-requests", placeholder=t('index.appointmentForm.form-message'), rows="3", required, style="padding: 1rem")
                  .form-check.form-check-inline(style="margin-bottom: 1rem")
                    input.form-check-input(type="checkbox" id="contact-privacy-agreement" name="contact-privacy-agreement", required)
                    label.form-check-label(for="contact-privacy-agreement")=t('index.appointmentForm.form-privacy')
                  .form-check.form-check-inline(style="margin-bottom: 1rem")
                    input.form-check-input(type="checkbox" id="contact-privacy-policy" name="contact-privacy-policy", required)
                    label.form-check-label(for="contact-privacy-policy")=t('index.appointmentForm.form-privacy2')
                .col-12
                  button.btn.btn__primary.btn__rounded.btn__block.btn__xhight.mt-10(type="submit")
                    span=t('index.appointmentForm.form-button')
                      i.icon-arrow-right
  include ./partials/map.pug