extends layout

block content
    // page title
    section.page-title.page-title-layout1.bg-overlay.mb-60
        .bg-img
            img(src="/images/page-titles/hizmetlerimiz_gorsel_preview.png", alt="background")
        .container
            .row
                .col-sm-12.col-md-12.col-lg-12.col-xl-5
                    span.pagetitle__subheading=t("services.banner.pre-title")
                    h1.pagetitle__heading(style="color: white;")= t("services.banner.title")
                    p.pagetitle__desc(style="color:white")= t("services.banner.description")
                    .d-flex.flex-wrap.align-items-center
                    a.btn.btn__secondary.btn__rounded.mr-30(href="appointment.html")
                        span=t("services.banner.button")
                        i.icon-arrow-right
                    a.btn.btn__secondary.btn__rounded(href="about-us.html")
                        span=t("services.banner.button2")
    // Services Layout 1
    section.services-layout1.pt-130
        .bg-img
            img(src="/images/backgrounds/2.jpg", alt="background")
        .container
            .row
                .col-sm-12.col-md-12.col-lg-6.offset-lg-3
                    .heading.text-center.mb-60
                        h2.heading__subtitle=t("services.section1.pre-title")
                        h3.heading__title=t("services.section1.title")
            .row
                // service item #1
                .col-sm-12.col-md-6.col-lg-4
                    .service-item
                        .service__icon
                            i.icon-head
                            i.icon-head
                        .service__content
                            h4.service__title=t("services.section1.card1.title")
                            p.service__desc=t("services.section1.card1.description")
                            ul.list-items.list-items-layout1.list-unstyled
                                li=t("services.section1.card1.item1")
                                li=t("services.section1.card1.item2")
                                li=t("services.section1.card1.item3")
                            a.btn.btn__secondary.btn__outlined.btn__rounded(href="gastric_sleeve.html")
                                spant=(t("services.section1.button"))
                                    i.icon-arrow-right
                // service item #2
                .col-sm-12.col-md-6.col-lg-4
                    .service-item
                        .service__icon
                            i.icon-heart
                            i.icon-heart
                        .service__content
                            h4.service__title=t("services.section1.card2.title")
                            p.service__desc=t("services.section1.card2.description")
                            ul.list-items.list-items-layout1.list-unstyled
                                li=t("services.section1.card2.item1")
                                li=t("services.section1.card2.item2")
                                li=t("services.section1.card2.item3")
                            a.btn.btn__secondary.btn__outlined.btn__rounded(href="gastric_balloon.html")
                                spant=(t("services.section1.button"))
                                    i.icon-arrow-right
                // service item #3
                .col-sm-12.col-md-6.col-lg-4
                    .service-item
                        .service__icon
                            i.icon-microscope
                            i.icon-microscope
                            h4.service__title=t("services.section1.card3.title")
                            p.service__desc=t("services.section1.card3.description")
                            ul.list-items.list-items-layout1.list-unstyled
                                li=t("services.section1.card3.item1")
                                li=t("services.section1.card3.item2")
                                li=t("services.section1.card3.item3")
                            a.btn.btn__secondary.btn__outlined.btn__rounded(href="gastric_balloon.html")
                                spant=(t("services.section1.button"))
                                    i.icon-arrow-right
                // service item #4
                .col-sm-12.col-md-6.col-lg-4
                    .service-item
                        .service__icon
                            i.icon-dropper
                            i.icon-dropper
                        .service__content
                            h4.service__title=t("services.section1.card4.title")
                            p.service__desc=t("services.section1.card4.description")
                            ul.list-items.list-items-layout1.list-unstyled
                                li=t("services.section1.card4.item1")
                                li=t("services.section1.card4.item2")
                                li=t("services.section1.card4.item3")
                            a.btn.btn__secondary.btn__outlined.btn__rounded(href="gastric_balloon.html")
                                spant=(t("services.section1.button"))
                                    i.icon-arrow-right
                // service item #5
                .col-sm-12.col-md-6.col-lg-4
                    .service-item
                        .service__icon
                            i.icon-heart3
                            i.icon-heart3
                        .service__content
                            h4.service__title=t("services.section1.card5.title")
                            p.service__desc=t("services.section1.card5.description")
                            ul.list-items.list-items-layout1.list-unstyled
                                li=t("services.section1.card5.item1")
                                li=t("services.section1.card5.item2")
                                li=t("services.section1.card5.item3")
                            a.btn.btn__secondary.btn__outlined.btn__rounded(href="gastric_balloon.html")
                                spant=(t("services.section1.button"))
                                    i.icon-arrow-right
    // Features Layout 2
    section.features-layout2.pt-130.bg-overlay.bg-overlay-primary
        .bg-img
            img(src="/images/backgrounds/2.jpg", alt="background")
        .container
            .col-sm-12.col-md-12.col-lg-5
                .heading__layout2
                    h3.heading__title(style="color: white")=t("services.section2.title")
            .row.mb-100
                .col-sm-3.col-md-3.col-lg-1.offset-lg-5
                    .heading__icon
                        i.icon-insurance
                .col-sm-9.col-md-9.col-lg-6
                    p.heading__desc.font-weight-bold.color-white.mb-30=t("services.section2.description")
            include ./partials/featured.pug
    include ./partials/certificates.pug
    include ./partials/testimonials.pug
    include ./partials/blog_grid.pug