
extends layout

block content
    //- Page title section
    section.page-title.page-title-layout2.bg-overlay.text-center.pb-0
        .bg-img
            img(src="/images/page-titles/3.jpg" alt="background")
        .container
            .row
            .col-sm-12.col-md-12.col-lg-12.col-xl-8.offset-xl-2
                .pagetitle__icon
                    i.icon-microscope
                h1.pagetitle__heading= treatment.name[currentLanguage]
                p.pagetitle__desc.mb-30= treatment.subTitle[currentLanguage]
                a(href="#content" class="scroll-down")
                    i.fas.fa-long-arrow-alt-down

    //- Content section
    section#content.pb-80
        .container
            .row
                .col-sm-12.col-md-12.col-lg-8
                    //- Text block section
                    .text-block.mb-50
                        p.text-block__desc.mb-20.font-weight-bold.color-secondary= treatment.description[0][currentLanguage]
                    //- Video banner section
                    .video-banner-layout3.bg-overlay.mb-50
                        img(src="/images/banners/7.jpg" alt="banner")
                        a(href="https://www.youtube.com/watch?v=FSxXVrV1XrQ&ab_channel=Prof.Dr.FahriYETİŞİR" class="video__btn video__btn-white popup-video")
                            .video__player
                                i.fa.fa-play
                    each item in treatment.description
                        p.text-block__desc.mb-20= item[currentLanguage]
                    
                    //- Additional sections such as "widget-plan", "fancybox-layout1", and sidebar content would follow the same pattern of indentation and element conversion to Pug syntax.
                    //- Widget Plan
                    .widget-plan.mb-60
                        .widget__body
                            h5.widget__title=t("treatments.services.title")
                            p=t("treatments.services.description") 
                            .row
                                .col-sm-12.col-md-6
                                    .plan__items
                                        ul.list-items.list-items-layout2.list-unstyled.mb-0
                                            li=t("treatments.services.item1")
                                            li=t("treatments.services.item2")
                                            li=t("treatments.services.item3")
                                            li=t("treatments.services.item4")
                                .col-sm-12.col-md-6
                                    .plan__items
                                        ul.list-items.list-items-layout2.list-unstyled.mb-0
                                            li=t("treatments.services.item5")
                                            li=t("treatments.services.item6")
                                            li=t("treatments.services.item7")

                    //- Text Block
                    .text-block.mb-50
                    h5.text-block__title=t("treatments.privilege.title")
                    p.text-block__desc.mb-20=t("treatments.privilege.description") 
                    //- Fancybox Layout1
                    .fancybox-layout1
                        .row
                            //- Fancybox Item #1
                            .col-md-6
                                .fancybox-item.d-flex
                                    .fancybox__icon
                                        i.icon-heart
                                    .fancybox__content
                                        h4.fancybox__title=t("treatments.privilege.item1.title")
                                        p.fancybox__desc=t("treatments.privilege.item1.description") 
                            //- Fancybox Item #2
                            .col-md-6
                                .fancybox-item.d-flex
                                    .fancybox__icon
                                        i.icon-doctor
                                    .fancybox__content
                                        h4.fancybox__title=t("treatments.privilege.item2.title")
                                        p.fancybox__desc=t("treatments.privilege.item2.description") 

                    //- Team Section
                    section.team-layout2.pt-0.pb-30
                    .heading.mb-40
                        h3.heading__title=t("index.certificates.title")
                        p.heading__desc=t("index.certificates.description")
                    .slick-carousel(data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "autoplay": true, "arrows": false, "dots": false, "responsive": [{"breakpoint": 992, "settings": {"slidesToShow": 2}}, {"breakpoint": 767, "settings": {"slidesToShow": 1}}, {"breakpoint": 480, "settings": {"slidesToShow": 1}}]}')
                        //- Member #1
                        .member
                            .member__img(style="cursor: pointer")
                                img(src="/images/team/1.jpg" alt="certificate_1")
                        //- Member #2
                        .member
                            .member__img(style="cursor: pointer")
                                img(src="/images/team/1.jpg" alt="certificate_1")
                        //- Member #2
                        .member
                            .member__img(style="cursor: pointer")
                                img(src="/images/team/1.jpg" alt="certificate_1")
                        //- Member #2
                        .member
                            .member__img(style="cursor: pointer")
                                img(src="/images/team/1.jpg" alt="certificate_1")
                        //- Additional members follow the same structure...
                //- Sidebar
                .col-sm-12.col-md-12.col-lg-4
                    aside.sidebar.has-margin-left.sticky-top
                        //- Widget Services
                        .widget.widget-services
                            h5.widget__title=t("navbar.treatments")
                            .widget-content
                                ul.list-unstyled.mb-0
                                    each treatment in treatments ? treatments : []
                                        li
                                            a(href=`/treatments/${treatment.slugs[currentLanguage]}` class='nav__item-link')= treatment.name[currentLanguage]
                        .widget.widget-help.bg-overlay.bg-overlay-secondary-gradient
                            .bg-img
                                img(src="assets/images/banners/5.jpg" alt="background")
                            .widget-content
                                .widget__icon
                                    i.icon-call3
                                h4.widget__title=t("faq.sidebar-quickcontact.title")
                                p.widget__desc=t("faq.sidebar-quickcontact.description") 
                                a.phone__number(href="tel:+201061245741")
                                    i.icon-phone 
                                    span +90 531 983 1396
                        .widget.widget-reports
                            if currentLanguage == 'en'
                                a.btn.btn__primary.btn__block(href="/contact-us")
                                    span=t("faq.button")
                            if currentLanguage == 'fr'
                                a.btn.btn__primary.btn__block(href="/contactez-nous")
                                    span=t("faq.button")
                            if currentLanguage == 'de'
                                a.btn.btn__primary.btn__block(href="/kontaktiere-uns")
                                    span=t("faq.button")
                            if currentLanguage == 'tr'
                                a.btn.btn__primary.btn__block(href="/bize-ulasin")
                                    span=t("faq.button")

