extends ../layout

block content 
    section.page-title.pt-30.pb-30.text-center
        .container
            .row.align-items-center
            .col-12
                nav
                ol.breadcrumb.mb-0
                    li.breadcrumb-item
                        a(href="/")=t("navbar.home")
                    li.breadcrumb-item
                        a(href="/blog")=t("navbar.blog")
                    li.breadcrumb-item.active(aria-current="page")= blog.name[currentLanguage]
                    
    section.blog.blog-single.pt-0.pb-80
        .container
            .row
                .col-sm-12.col-md-12.col-lg-8
                    .post-item.mb-0
                        .post__img
                            a(href="#")
                                img(src=`/images/${blog.image}` alt="post image" loading="lazy")
                        .post__body.pb-0
                            .post__meta-cat(style="opacity: 0")
                                a(href="#") Consulting
                                a(href="#") Sales
                            .post__meta.d-flex.align-items-center.mb-20
                                - const createdAtDate = new Date(blog.createdAt)
                                span.post__meta-date= `${createdAtDate.getDate()}.${createdAtDate.getMonth() + 1}.${createdAtDate.getFullYear()}`
                            h1.post__title.mb-30=blog.name[currentLanguage]
                            each item in blog.description
                                p.post__desc.mb-20= item[currentLanguage]
                .col-sm-12.col-md-12.col-lg-4
                    aside.sidebar
                        .widget.widget-posts
                            h5.widget__title=t("index.blogLatest.description")
                            .widget__content
                                each blog in blogs
                                    .widget-post-item.d-flex.align-items-center
                                        .widget-post__img
                                            a(href=`/blog/${blog.slugs[currentLanguage]}`)
                                                img(src="/images/blog/grid/kilo_verme_yolculugu.png" alt="thumb")
                                        .widget-post__content
                                            h4.widget-post__title
                                                a(href=`/blog/${blog.slugs[currentLanguage]}`)= blog.name[currentLanguage]

